
            /* NAV BAR  middle*/

.inner_main_menu {
    margin: 0 auto; width: 1170px;
}    
.inner_main_menu ul{
    margin: 0; 
    padding: 70px 0 0; 
    list-style: none;
    text-align: right;
}    
.inner_main_menu ul li{
    float: none; 
    display: inline-block;
    position: relative
}    
.inner_main_menu ul li:nth-child(1){
    float: left;
}    
.inner_main_menu ul li:nth-child(2){
    float: left;
}    
.inner_main_menu ul li:nth-child(3){
    float: left;
}    
.inner_main_menu ul li a{
    color: #262626; 
    font-size: 20px; 
    text-transform: uppercase;
    text-decoration: none; 
    display: block;
    padding: 10px 20px;
}    
.inner_main_menu ul li a:hover{
    color: #6FDA44
}  
.inner_main_menu ul li ul{
    position: absolute; 
    top: 40px; 
    left: -9999999px; 
    width: 200px;
    background: #262626; 
    padding: 0;
}  
.inner_main_menu ul li:hover ul{
    left: 0px;
}   
.inner_main_menu ul li ul li{
    float: left;
    width: 100%;
    text-align: left;
}  
.inner_main_menu ul li ul li a{
    color: #fff;
    text-transform: capitalize; 
    font-size: 15px;
}  
.inner_main_menu ul li ul li a:hover{
    background: #ddd; 
    color: #262626;
}  
.inner_main_menu ul li ul li ul{
    top: 0; 
    left: -999999px;
}  
.inner_main_menu ul li:hover ul li ul{
    top: 0; 
    left: -999999px;
}  
.inner_main_menu ul li ul li:hover ul{
    top: 0; 
    left: 200px;
}  
.inner_main_menu ul li:hover a{
    color: #6FDA44
}  
.inner_main_menu ul li:hover ul li a{
    color: #ffffff
}  
.inner_main_menu ul li ul li a:hover{
    color: #262626
}  
.inner_main_menu ul li ul li:hover a{
    background: #ddd; 
    color: #262626;
}  
.inner_main_menu ul li ul li:hover ul li a{
    background: #262626; 
    color: #fff;
}  
.inner_main_menu ul li ul li ul li a:hover{
    background: #ddd; 
    color: #262626;
}  
.slicknav_menu {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  font-size: 16px;
  padding: 5px;
  display: none;    
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 99999;
}
ul.slicknav_nav {
  background: #262626 none repeat scroll 0 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 80%;
}
.slicknav_btn {
    top: 35px;
}
#main_menu{
    width: 100%; 
    position: relative;
}
.logo_area{    
    margin-top: 28px; 
    width: 300px; 
    height: 300px; 
    position: absolute; 
    left: 50%; 
    top: 0; 
    content: ""; 
    margin-left:-250px; 
    text-align: center; 
}
.ab{
    width: 350px; 
    padding: 48px;
    padding-top: 20px;
}
@media only screen and (min-width: 50px) and (max-width: 567px) { 
    .slicknav_menu{display: block;}
    .inner_main_menu{display: none;}
    .logo_area {height: auto;left: 0;margin-left: 0;position: relative;top: 0;width: 130px;}
    .logo_area img{height: auto;width: 100px;
    }
    

